#app{style: 'display: none'}
  #header
    %h1
      = link_to '#new_tab' do
        %i.fa.fa-plus
        Console
  #tabs{style: 'display: none'}
    .wrapper
  #board{style: 'display: none'}
#modal.reveal-modal.small{'data-reveal' => ''}
